body {
    /* Criamos um gradiente que tem o dobro do tamanho da tela */
    background: linear-gradient(180deg, white, red, white);
    background-size: 100% 200%; 
    height: 120vh;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Animamos a posição do fundo */
    animation: flow 2s infinite ease-in-out;
}

@keyframes flow {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}