body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 165px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #5170ff;
  color: white;
  padding: 15px 0;
  text-align: center;
  z-index: 1000;
}

.sign {
  align-items: center;
  display: flex;
  gap: 6px;
}

.sign .auth:hover {
  background-color: #adc7ff;
  padding: 4px;
}

.nav-avatar {
  width: 50px;
  border-radius: 50px;
  border: 2px white solid;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-avatar:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255);
  border: 3px white solid;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign button {
  background: none;
}

.sign button:hover {
  background: none;
}

a {
  text-decoration: none;
  color: white;
  padding-inline: 5px;
}

.perfil-container {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 120px auto;
}

.overlay {
  display: none;
  /* Escondido por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* O painel de edição propriamente dito */
.edit-panel {
  display: none;
  /* Escondido por padrão */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centraliza perfeitamente */
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
}

.edit-painel-header {
  display: flex;
  justify-content: space-between;
}

.close-painel {
  color: red;
  cursor: pointer;
}

.active {
  display: block !important;
}

/* Classe para mostrar o painel via JS */
.active {
  display: block !important;
}

.player-info {
  margin-right: 300px;
}

.perfil-header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #5170ff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
}

#player-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #5170ff;
}

.grid-decks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

button {
  padding: 5px;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #ccc;
  transition: 0.2s;
}

button:hover {
  background-color: #d1d8ff;
}

button:active {
  background-color: #adc7ff;
  transform: scale(0.85);
}

.deck-profile-list {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 200px;
  background-color: #e8ddff;
  padding: 8px;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.5s;
}

.deck-profile-list:hover {
  box-shadow: 0 6px 4px #0d014e5d;
  transform: translateY(-8%);
  filter: brightness(1.05);
}

.deck-icon {
  width: 50px;
}