body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5170ff;
  color: white;
  padding: 15px 0;
  text-align: center;
  align-content: center;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: white;
  padding-inline: 5px;
}

.perfil-container {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 80px auto;
}

.overlay {
  display: none; /* Escondido por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 999;
}

/* O painel de edição propriamente dito */
.edit-panel {
  display: none; /* Escondido por padrão */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza perfeitamente */
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
}

.edit-painel-header {
    display: flex;
    justify-content: space-between;
}

.close-painel{
  color: red;
  cursor: pointer;
}

.active {
  display: block !important;
}

/* Classe para mostrar o painel via JS */
.active {
  display: block !important;
}

.perfil-header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #5170ff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#player-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #5170ff;
}

.grid-decks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

button {
  margin-top: 20px;
  padding: 5px;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #ccc;
  transition: 0.2s;
}

button:hover {
  background-color: #d1d8ff;
}

button:active {
  background-color: #adc7ff;
  transform: scale(0.85);
}